html * {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  box-sizing: border-box;
}

.banner {
  position: absolute;
  width: 100%;
}

.block {
  height: 100vh;
  width: 100%;
  padding: 2rem;

  &:first-child {
    padding-top: 4rem;
  }
}
